  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6" style="background-color: #6E0CED;"> 
      <ul class="nav navbar-nav">
        <li><a ng-href="#"><img src="assets/images/angular.png"></a></li>
        <!--<li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>-->
      </ul>
    </div>

<div class="container-fluid"> 
<br>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
          <input type="text" class="form-control" placeholder="Search project...">
        </div>
        <br>
        <button type="button" class="btn btn-primary btn-sm" ng-click="getProjects()">Listar proyectos</button>
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search group...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div><!-- /input-group -->
        <br>
        <button type="button" class="btn btn-primary btn-sm" ng-click="getGroups()">Listar grupos</button>
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  <br>
  <div class="col-xs-6">
    <ul>
      <li ng-repeat="project in projects | filter:query" class="">
        <div class="container-fluid" style="border: solid #6E0CED; border-radius: 10px; background-color: #6E0CED;">
          <div class="col-xs-8 text-left">
          {{project.name}}<br> 
          Project permission:
          {{project.permissions.project_access.access_level === 50 ? 'Owner' : ' '}}
          {{project.permissions.project_access.access_level === 40 ? 'Master' : ' '}}
          {{project.permissions.project_access.access_level === 30 ? 'Developer' : ' '}}
          {{project.permissions.project_access.access_level === 20 ? 'Reporter' : ' '}}
          {{project.permissions.project_access.access_level === 10 ? 'Guest' : ' '}}
          {{project.archived}}
          </div>
          <div class="col-xs-4">
            <img src="" alt="..." class="img-rounded">
          </div>
        </div>
      </li>
    </ul>
  </div>

    <div class="col-xs-6">
    <ul>
      <li ng-repeat="group in groups | filter:query">
      {{group}}
      </li>
    </ul>
  </div>
</div>