<div class="container">
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">
    <h1>'Alloha, 'Alloha!</h1>
    <p class="lead">
      <img src="assets/images/angular.png" alt="I'm Yeoman"><br>
    </p>

    <div class="form-group">
      <label for="lg_username" class="sr-only"></label>
      <input types="text" class="form-control" name="lg_username" placeholder="Username or email" ng-model="user.login">
    </div>
    <div class="form-group">
      <label for="lg_username" class="sr-only"></label>
      <input type="password" class="form-control" placeholder="password" ng-model="user.password">
    </div>
      <button type="button" class="btn btn-lg btn-success" ng-click="access()">Login</button>
  </div>
</div>
